pipeline/adf-data-lake-master-exec-uksouth.json
{
	"name": "adf-data-lake-master-exec-uksouth",
	"properties": {
		"activities": [
			{
				"name": "Start Logging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_BatchLogStart]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lks_azure_db_monitor",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Master Execution",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Start Logging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "adf-data-lake-raw-zone",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "End Success Logging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Master Execution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_BatchLogEnd]",
					"storedProcedureParameters": {
						"BatchLogStatus": {
							"value": {
								"value": "@variables('vLogStatusSuccess')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lks_azure_db_monitor",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End Failure Logging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Master Execution",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_BatchLogEnd]",
					"storedProcedureParameters": {
						"BatchLogStatus": {
							"value": {
								"value": "@variables('vLogStatusFailure')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lks_azure_db_monitor",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"vLogStatusSuccess": {
				"type": "String",
				"defaultValue": "S"
			},
			"vLogStatusFailure": {
				"type": "String",
				"defaultValue": "F"
			}
		},
		"annotations": []
	}
}